<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign In</title>
  </head>
  <body>
    <form>
      <label>Email: </label>
      <input type="email" name="email" autocomplete="email" />
      <br />
      <label>Password: </label>
      <input type="password" name="password" autocomplete="new-password" />
      <br />

      <button id="signInBtn" type="submit">Sign In</button>
    </form>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js"></script>
    <script type="module" src="/js/script.js"></script>
  </body>
</html>
